.form {
    width: 100%;
}

.form label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.form input {
    margin-bottom: 3px;
    width: 350px;
}

h4 {
    text-align: center;
}