.container-fluid {
    width: 100vw;
    height: 100vh;
    padding: 0;
    overflow: hidden;
    background-image: url("https://images.hdqwalls.com/download/grid-waves-lu-2560x1440.jpg");
    background-size: fit;
}

.reg-form-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 20vw;
    height: 20vh;
    margin-left: 30px; */
}